footer
    section.footer_wrapper.mt-3.mt-md-0
        .container
            .row.align-items-center
                .col-lg-12.col-md-12
                    ul.list-unstyled.d-flex.justify-content-center.justify-content-md-center.justify-content-lg-center.justify-content-sm-center.social-icon.mb-3.mb-md-0.share
                        li
                            a(href='http://facebook.com')
                                img.facebook(src='https://cdn-icons-png.flaticon.com/128/20/20673.png')
                        li
                            a(href='http://twitter.com')
                                img.twitter(src='https://cdn-icons-png.flaticon.com/128/2168/2168336.png')
                        li
                            a(href='http://instagram.com')
                                img.instagram(src='https://cdn-icons-png.flaticon.com/128/1384/1384015.png')
                        li
                            a(href='http://linkedin.com')
                                img.linkedin(src='https://cdn-icons-png.flaticon.com/128/4401/4401412.png')
                        li
                            a(href='http://pinterest.com')
                                img.pinterest(src='https://cdn-icons-png.flaticon.com/128/220/220780.png')
                .col-lg-4.col-md-12
                    .copyright-text.text-lg-start.text-center.mb-3.mb-lg-0
section.footer-end
    p.mb-0(style='color:white;') Copyright &copy;&#xFE0F; 2023 by YLD | All Rights Reserved.
    a(href='#home', style='color:white;')
        i.fa.fa-solid.fa-angle-up.fa-beat.fa-lg.up
                           